@if (isSocialIcon) {
  <img
    [src]="iconPath"
    [attr.width]="size"
    [attr.height]="size"
    alt=""
    role="presentation"
    aria-hidden="true"
    class="icon icon--social"
  />
} @else {
  <img
    [src]="iconPath"
    [attr.width]="size"
    [attr.height]="size"
    alt=""
    role="presentation"
    aria-hidden="true"
    [ngClass]="{
      'icon': true,
      'icon--solid-white': hasSolidWhite,
      'icon--solid-black': hasSolidBlack,
      'icon--phosphor': !hasSolidWhite && !hasSolidBlack
    }"
  />
}
