<article class="sugerencia-card">
  <img
    class="sugerencia-card__image"
    src=""
    alt="ilustración de sugerencia"
    loading="eager">
  <h2 class="sugerencia-card__id">
    ID: 1
  </h2>
  <h3 class="sugerencia-card__asunto">
    Sugerencia 1
  </h3>
  <p class="sugerencia-card__descripcion">
    Esta es una sugerencia hardcodeada para mostrar cómo se vería una sugerencia en la tarjeta. Aquí se puede incluir una breve descripción de la sugerencia, sus detalles o cualquier información relevante que se quiera destacar.
  </p>
</article>
